<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<body>
<div layout:fragment="content">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis commodi, cum
            debitis dicta
            distinctio dolore doloremque, eaque eveniet exercitationem illum, labore maxime numquam obcaecati quam rem
            sequi? Vel, voluptates!</p>
        <p>Adipisci aliquam amet at debitis dignissimos, ea esse ex iste labore molestiae non nulla numquam provident
            quaerat quasi quidem reiciendis tempora tenetur totam ullam unde velit voluptas. Dolorem, minus quam?</p>
        <p>Accusantium amet aspernatur beatae, blanditiis commodi consequuntur debitis delectus deserunt dolores eos
            exercitationem illum ipsam libero minus nemo nisi nobis officiis pariatur provident quas quidem quod
            reiciendis suscipit totam voluptatibus.</p>
        <p>A consequuntur, debitis dolores, eligendi enim hic illo incidunt modi officiis pariatur praesentium, quo
            repellendus sed similique veniam. Dicta eius enim reiciendis similique! Cum dolor facilis, perspiciatis quod
            saepe soluta.</p>
        <p>Cupiditate debitis dicta eaque, earum et iure labore maxime modi non odio perspiciatis praesentium quo
            reiciendis reprehenderit repudiandae tenetur voluptatibus. Cupiditate, dolorum eligendi maxime nulla quam
            quasi sequi totam vitae!</p>
    </div>
</div>
</body>
</html>